app = 'starter-pocketbase'
primary_region = 'sin'

[mounts]
source = "pb_data"
destination = "/app/pb_data"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[[vm]]
size = 'shared-cpu-1x'
